

body {

    background-image: url("https://img.discogs.com/9vHFFQowGpT_xo-l-7OyF_2QEzk=/600x409/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-4434262-1433198947-7480.jpeg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.box {

   
    background-color: white;


}